@using Microsoft.AspNetCore.Http
@using PMIS.Domain.Entities;
@using System.Text.Json
@{
    System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
    sw.Start();

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Promotional Material Inventory management System</title>
    <partial name="~/Views/Shared/_RefLinks.cshtml" />
</head>

<body id="page-top" class="body_resize_show" style="zoom:1.2">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion nav_side_show" id="accordionSidebar">
            <partial name="~/Views/Shared/_SideMenuBar.cshtml" />

        </ul>

        <!--Body Part-->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <partial name="~/Views/Shared/TopMenuBar.cshtml" />

                @RenderBody()

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">


                            <span>
                                copyright &copy; <script>document.write(new Date().getFullYear());</script> - developed by
                                <b><a href="#">Square Informatix Ltd</a></b> &emsp;&emsp;
                            </span>
                            <span>
                                @{
                                    <strong class="text-bold font-black pull-right">Response: @(Math.Round(sw.Elapsed.TotalSeconds, 4))s </strong>
                                    sw.Stop();
                                }
                            </span>
                            <span>
                                &emsp;&emsp;
                                <strong class="text-bold font-black pull-right">Version: 1.0.0</strong>
                            </span>
                        </div>
                    </div>
                </footer>

                <!-- Footer -->
            </div>

        </div>
    </div>

    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />

</body>
</html>