@{
    ViewData["Title"] = "Employee Info";
}

<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">


<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">

    <div class="d-sm-flex align-items-center justify-content-between">
        <h4 class="h3 mb-0 text-gray-600">Employee</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-outline-primary" href="/Security/Employee/EmployeeInfo">Reset</a></li>
            <li class="breadcrumb-item"><a id="#modalCenter" class="btn  btn-success text-white mb-1" ng-click="SaveData(model)">Save</a></li>
        </ol>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <fieldset>
                <legend style="width:160px">Employee Entry</legend>

                <form name="formMenuCategoryAdd">
                    <div class="row" style="margin:20px">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EMPLOYEE_SHORT_NAME">Employee Code</label>
                                <input id="EMPLOYEE_SHORT_NAME" type="text" class="form-control"
                                       name="EMPLOYEE_SHORT_NAME" ng-model="model.EMPLOYEE_CODE" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EMPLOYEE_NAME">Employee Name</label>
                                <input type="text" class="form-control" autocomplete="off" data-val="true"
                                       name="EMPLOYEE_NAME" ng-model="model.EMPLOYEE_NAME" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EMPLOYEE_STATUS">Status</label>
                                <select class="form-control" id="EMPLOYEE_STATUS"
                                        name="EMPLOYEE_STATUS" ng-model="model.EMPLOYEE_STATUS" style="width:100%" >

                                    <option ng-repeat="item in Statuses" ng-selected="item == model.EMPLOYEE_STATUS" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>

    </div>
    <div class="card mb-4">

        <div class="card-body">

            <fieldset>
                <legend style="width:140px">Employee List</legend>
                <div class="row" style="height: 57vh;">
                    <div class="col-lg-12 mb-4">
                        <div class="card" ng-show="model.LIST_VIEW == 'Active'" style="margin: 10px">
                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                 style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 50vh;" class="grid">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>

    <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>

    <script src="~/scriptsng/security/employee/controller/EmployeeInfoCtr.js"></script>
    <script src="~/ScriptsNg/Security/Employee/Service/EmployeeService.js"></script>
    <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
    <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
</div>
