@{
    ViewData["Title"] = "Return Cause Info";
    Layout = "_Layout";
}

<link href="/css/site.css" rel="stylesheet">
<link href="/Design/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">

<div class="container-fluid" id="container-wrapper" ng-app="ngApp" ng-controller="ngGridCtrl">

    <div class="d-sm-flex align-items-center justify-content-between">
        <h4 class="h3 mb-0 text-gray-600">Return Cause Info</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-outline-primary" href="/PromotionalProductMaterial/DoctorCategory/Index">Reset</a></li>
            <li class="breadcrumb-item"><a id="#modalCenter" class="btn  btn-success text-white mb-1" ng-click="SaveData(model)">{{model.RETURN_CAUSE_ID == 0?"Save":"Update"}}</a></li>
        </ol>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <fieldset>
                <legend style="width:350px">Return Cause Entry</legend>

                <form name="formMenuCategoryAdd">
                    <div class="row" style="margin:20px">
                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="RETURN_CAUSE_CODE">Doctor Category Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="RETURN_CAUSE_CODE" type="text" class="form-control" disabled
                                           name="RETURN_CAUSE_CODE" ng-model="model.RETURN_CAUSE_CODE" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="STATUS">Status</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="STATUS"
                                            name="STATUS" ng-model="model.STATUS" style="width:100%">
                                        <option ng-repeat="item in Statuses" ng-selected="item == model.STATUS" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>


                        <div class="col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="RETURN_CAUSE_NAME">Doctor Category Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" autocomplete="off" data-val="true"
                                           name="RETURN_CAUSE_NAME" ng-model="model.RETURN_CAUSE_NAME" />
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </fieldset>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <fieldset>
                <legend style="width:350px">Return Cause Display</legend>

                <div class="row" style="height: 40vh;">
                    <div class="col-lg-12 mb-4">
                        <div class="card" ng-show="model.LIST_VIEW == 'Active'" style="margin: 10px">
                            <div ui-grid="gridOptionsList" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
                                 style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important; height: 35vh;" class="grid">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>


        <partial name="~/Views/Shared/_Loader.cshtml" ng-show="showloader"></partial>
        <script src="~/scriptsng/promotionalproductmaterial/returncauseinfo/controller/returncausectr.js"></script>
        <script src="~/scriptsng/promotionalproductmaterial/returncauseinfo/service/returncauseservice.js"></script>
        <script src="~/ScriptsNg/Services/permissionProvider.js"></script>
        <script src="~/ScriptsNg/Services/gridRegistrationService.js"></script>
    </div>
