@{
    ViewBag.Title = "Home";
    Layout = null;
}

<center>
    <h1 style="margin-top: 50px">Welcome to PMIS Reportings!</h1>
    <h3>SQUARE INFORMATIX LTD</h3>
    <address>
        Square Centre (11th Floor), 48, Mohakhali C/A, 1212
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">liakat.ali@sqauregroup.com</a><br />
    </address>
</center>